<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.6.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.8">
      <projectUrl>https://github.com/channel4/4oD-iOS.git/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.0.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/channel4/4oD-iOS.git</url>
        <credentialsId>0f16ad67-9c90-4c7e-b9e3-57d0e8223ab8</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H 10 * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd C4oD
REVISION=`git log --pretty=format:&apos;&apos; | wc -l | tr -d &apos; &apos;`P
VERSION=`/usr/libexec/PlistBuddy -c &quot;Print :CFBundleShortVersionString&quot; Four-Info.plist`
/usr/libexec/PlistBuddy -c &quot;Set :CFBundleVersion $REVISION&quot; Four-Info.plist
/usr/libexec/PlistBuddy -c &quot;Print :CFBundleVersion&quot; Four-Info.plist
/usr/libexec/PlistBuddy -c &quot;Set :CFBundleIdentifier uk.co.channel4.ios.4od.dev.master&quot; Four-Info.plist
/usr/libexec/PlistBuddy -c &quot;Print :CFBundleIdentifier&quot; Four-Info.plist
/usr/libexec/PlistBuddy -c &quot;Set :CFBundleDisplayName $VERSION-$REVISION&quot; Four-Info.plist
/usr/libexec/PlistBuddy -c &quot;Print :CFBundleDisplayName&quot; Four-Info.plist</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd C4oD
pod install</command>
    </hudson.tasks.Shell>
    <au.com.rayh.XCodeBuilder plugin="xcode-plugin@1.4.2">
      <cleanBeforeBuild>true</cleanBeforeBuild>
      <cleanTestReports>false</cleanTestReports>
      <configuration>Adhoc</configuration>
      <target>Four</target>
      <sdk></sdk>
      <symRoot></symRoot>
      <configurationBuildDir>${WORKSPACE}/output</configurationBuildDir>
      <xcodeProjectPath>C4oD</xcodeProjectPath>
      <xcodeProjectFile></xcodeProjectFile>
      <xcodebuildArguments>PROVISIONING_PROFILE=&quot;401522F4-E9CD-416E-B6F5-1CE1DC8988EA&quot; -sdk iphoneos7.1 ARCHS=&quot;armv7&quot; ONLY_ACTIVE_ARCH=NO GCC_PREPROCESSOR_DEFINITIONS=&quot;BUGSHOTKIT=YES USE_PRODUCTION_RESOURCES=YES DEBUG=YES CRASH_ON_DEMAND=YES TEST_VIDEO_MONITOR=YES CLIENT_PROPERTIES_URL=&apos;ios.int.channel4.com/properties/4od-ios-properties-int-1.json&apos;&quot;</xcodebuildArguments>
      <xcodeSchema>Four_Prod</xcodeSchema>
      <xcodeWorkspaceFile>Four</xcodeWorkspaceFile>
      <embeddedProfileFile></embeddedProfileFile>
      <cfBundleVersionValue></cfBundleVersionValue>
      <cfBundleShortVersionStringValue></cfBundleShortVersionStringValue>
      <buildIpa>true</buildIpa>
      <generateArchive>false</generateArchive>
      <unlockKeychain>false</unlockKeychain>
      <keychainName>none (specify one below)</keychainName>
      <keychainPath>phogan</keychainPath>
      <keychainPwd>Summerlee47</keychainPwd>
      <codeSigningIdentity></codeSigningIdentity>
      <allowFailingBuildResults>false</allowFailingBuildResults>
      <ipaName>4oD-${VERSION}-${BUILD_DATE}</ipaName>
      <ipaOutputDirectory>ipa</ipaOutputDirectory>
      <provideApplicationVersion>false</provideApplicationVersion>
    </au.com.rayh.XCodeBuilder>
  </builders>
  <publishers>
    <hudson.tasks.test.AggregatedTestResultPublisher>
      <jobs>Four-DEV,</jobs>
      <includeFailedBuilds>false</includeFailedBuilds>
    </hudson.tasks.test.AggregatedTestResultPublisher>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>output/ipa/*.ipa</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <parsingRulesPath>/Users/Jenkins/testparsing</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.plugins.textfinder.TextFinderPublisher plugin="text-finder@1.10">
      <regexp>^(?!.*(ThirdParty|Pods)).*(warning\:)</regexp>
      <succeedIfFound>false</succeedIfFound>
      <unstableIfFound>false</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>C4oD/test-reports/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.Fingerprinter>
      <targets>C4oD/test-reports/*.xml</targets>
      <recordBuildArtifacts>false</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
    <testflight.TestflightRecorder plugin="testflight@1.3.9">
      <tokenPairName>iOS 4oD Development</tokenPairName>
      <notifyTeam>true</notifyTeam>
      <buildNotes>$[VERSION]

Development build for internal use only</buildNotes>
      <appendChangelog>true</appendChangelog>
      <filePath></filePath>
      <dsymPath></dsymPath>
      <lists>jenkins</lists>
      <replace>false</replace>
      <proxyPort>0</proxyPort>
      <debug>true</debug>
    </testflight.TestflightRecorder>
    <hudson.tasks.Mailer plugin="mailer@1.6">
      <recipients>patrick.hogan@piksel.com allan.boyd@piksel.com greg.jaskiewicz@ext.piksel.com robert.redmond@piksel.com gilles.guillemin@piksel.com surendra.kumar@piksel.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>