<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.0.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/patrickhogan/4oD-iOS.git</url>
        <credentialsId>a632d6a6-a829-4cf6-b857-a71430989b14</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd C4oD
REVISION=`git log --pretty=format:&apos;&apos; | wc -l | tr -d &apos; &apos;`
VERSION=`/usr/libexec/PlistBuddy -c &quot;Print :CFBundleShortVersionString&quot; C4oD_iPad-Info.plist`
/usr/libexec/PlistBuddy -c &quot;Set :CFBundleVersion $REVISION&quot; C4oD_iPad-Info.plist
/usr/libexec/PlistBuddy -c &quot;Print :CFBundleVersion&quot; C4oD_iPad-Info.plist
/usr/libexec/PlistBuddy -c &quot;Set :CFBundleIdentifier uk.co.channel4.ios.4od&quot; C4oD_iPad-Info.plist
/usr/libexec/PlistBuddy -c &quot;Print :CFBundleIdentifier&quot; C4oD_iPad-Info.plist
/usr/libexec/PlistBuddy -c &quot;Set :CFBundleDisplayName C4oD-APPSTORE-$VERSION-$REVISION&quot; C4oD_iPad-Info.plist
/usr/libexec/PlistBuddy -c &quot;Print :CFBundleDisplayName&quot; C4oD_iPad-Info.plist</command>
    </hudson.tasks.Shell>
    <au.com.rayh.XCodeBuilder plugin="xcode-plugin@1.4.2">
      <cleanBeforeBuild>false</cleanBeforeBuild>
      <cleanTestReports>false</cleanTestReports>
      <configuration></configuration>
      <target>C4oD_iPad</target>
      <sdk></sdk>
      <symRoot></symRoot>
      <configurationBuildDir>${WORKSPACE}/output</configurationBuildDir>
      <xcodeProjectPath></xcodeProjectPath>
      <xcodeProjectFile></xcodeProjectFile>
      <xcodebuildArguments>PROVISIONING_PROFILE=&quot;401522F4-E9CD-416E-B6F5-1CE1DC8988EA&quot; -sdk iphoneos7.1 ONLY_ACTIVE_ARCH=NO ARCHS=&quot;armv7&quot; GCC_PREPROCESSOR_DEFINITIONS=&apos;USE_PRODUCTION_RESOURCES=YES MOBILE_DATA_STREAMING_PERMITTED=YES DEBUG=YES CRASH_ON_DEMAND=YES TEST_VIDEO_MONITOR=YES&apos;</xcodebuildArguments>
      <xcodeSchema>C4oD_iPad</xcodeSchema>
      <xcodeWorkspaceFile>C4oD/C4oD_iPad</xcodeWorkspaceFile>
      <embeddedProfileFile>/Users/jenkins/profiles</embeddedProfileFile>
      <cfBundleVersionValue></cfBundleVersionValue>
      <cfBundleShortVersionStringValue></cfBundleShortVersionStringValue>
      <buildIpa>true</buildIpa>
      <generateArchive>true</generateArchive>
      <unlockKeychain>false</unlockKeychain>
      <keychainName>none (specify one below)</keychainName>
      <keychainPath>address not configured yet &lt;nobody@nowhere&gt;</keychainPath>
      <keychainPwd>hello</keychainPwd>
      <codeSigningIdentity></codeSigningIdentity>
      <allowFailingBuildResults>false</allowFailingBuildResults>
      <ipaName></ipaName>
      <ipaOutputDirectory>ipa</ipaOutputDirectory>
      <provideApplicationVersion>false</provideApplicationVersion>
    </au.com.rayh.XCodeBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>